@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
  /* Layout Properties */
  top: 0px;
  left: 0px;
  background: #ececec 0% 0% no-repeat padding-box;
  opacity: 1;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  min-height: 100vh;
}

.themebg{
    background-color: #01F0D0 !important;
}

.icon{
  position:relative;
  bottom: 1px;
}

@media (min-width:600px){
  ::-webkit-scrollbar{
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-thumb{
    background-color: #6b6969;
    border-radius: 20px;
  }
  ::-webkit-scrollbar-track{
    background-color: #0e0e0e00;
  }
}

@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

img{
  animation: fadeIn .4s cubic-bezier(0.075, 0.82, 0.165, 1) ;
  -webkit-animation: fadeIn .4s cubic-bezier(0.075, 0.82, 0.165, 1) ;
}